:root{
    --chat-container-color: rgba(255, 255, 255, 0.45);
    --chat-buble-color: #79a3d0;
    --chat-input-color: rgba(255, 255, 255, 0.8);
    --chat-button-color: #598234;
    --background-color-1: #CB3066;
    --background-color-2: #a54e86;
    --background-color-3: #16BFFD;
}

body{
    margin: 0;
    font-family: 'Ranga', cursive;
    background: linear-gradient(0deg, var(--background-color-1), var(--background-color-2), var(--background-color-3));
}

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

header{
    flex: 1;
    padding: 5px 25px;
    font-size: 3.5em;
    font-weight: bold;
    color: var(--background-color-1);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
}

.chat-container{
    flex: 8;
    background-color: var(--chat-container-color);
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.chat-container > div{
    padding: 30px;
}

.msg{
    background-color: var(--chat-buble-color);
    border-radius: 5px;
    display: flex;
    padding: 5px;
    align-items: center;
    width: 500px;
    margin-bottom: 10px;
    flex-shrink: 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.msg img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.msg div{
    flex: 1;
}

.msg-name{
    font-size: 2em;
}

.msg-message{
    font-size: 1.5em;
}

.add-msg{
    flex: 2;
    display: flex;
    padding-bottom: 15px;
}

.add-msg .add-input{
    flex: 6;
    font-family: inherit;
    font-size: 2.5em;
    padding: 10px;
    background-color: var(--chat-input-color);
    outline: none;
    border: none;
}

.add-msg .add-btn{
    flex: 1;
    font-family: inherit;
    font-size: 2.5em;
    background-color: var(--chat-button-color);
    border:none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 800px){
    #app{
        padding: 0 15px;
    }
    .add-msg .add-input{
        flex: 3;
        font-size: 1.5em;
    }
    .add-msg .add-btn{
        font-size: 1.5em;
    }
    .msg{
        width: auto;
    }
}